.def_inner{
	@include m768{
		overflow: hidden;
		padding-top: 64px;
		*{
			box-sizing: border-box;
		}
		h1{
			width: 100%;
			text-align: center;
		}
		.row{
			margin: 0;
		}
		.col-sm-6{
			padding: 0;
		}
		.def_content{
			padding: 0 12px 12px 12px;
		}
		.def_social{
			opacity: 1!important;
		}
	}
}
.front{
	@include m768{
		.region-content-l{
			display: none;
		}
		.news-block{
			display: none;
		}
	}
}